/* ライトボックスで使う文字のclass/*
/* 共通 */ 


@media (max-width: 1100px) {
    :root {
        /* --cont: 100%; */
        --cont: calc(100vw - 60px);
        --font-size-xsmall: calc(20 / 750 * 100vw);
        --font-size-small: calc(26 / 750 * 100vw);
        --font-size-normal: calc(32 / 750 * 100vw);
        --font-size-large: calc(36 / 750 * 100vw);
    }
}
.title{
font-weight: bold;
font-size: 1.3em;
color: #F0F0F0;
}
.text{
font-size: 1.1em;
color: #F0F0F0;
}
a{
font-weight: bold;
font-size: 1.2em;
color: #000000;
text-decoration: none;
}
.map-marker a{
font-size: 15px;
color: #000000;
text-decoration: none;
}
.map-marker.capital >a{
font-size: 17px;
color: #a11b1b;
text-decoration: none;
}
/* h1、h2、h3のスタイル（h1） */
/* 共通 */

.editorcss h2::before{
position: absolute;
top: 0;
left: 0;
background: linear-gradient(#012169, #C8102E);
}
.editorcss h3{
margin-bottom: 20px;
max-width: 90%;
font-family: Austin News, georgia, times, serif;
font-size: 1.3em;
}
.editorcss h5{
font-size: 1.5em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}

.caption{
overflow: hidden;
font-weight: bold;
padding: 10px;
background-color: #fff;
}
.caption.white{
margin-top: -1px;
border: 2px solid #ddd;
}
.caption.white p{
font: normal 16px/130% Arial, Helvetica, sans-serif;
letter-spacing: 0.8px;
font-weight: bold;
color: #000;
}
.caption >.pin{
font-family: "Font Awesome 5";
font-weight: bold;
font-size: 18px;
color: #000;
}
.caption >.credit{
font-family: "Font Awesome 5";
font-size: 0.9em;
}
.pin > i{
padding-right: 7px;
}
.credit > i{
padding-right: 7px;
}
.map_pin::before{ 
content: '\f276';
}


/* パソコンPC専用 */
@media screen and (min-width: 1101px) {
.Top_image .read_1{
font-size: 3.5em;
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: center;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
.Top_image .read_2{
font-size: 2.1em;
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: center;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
h1{
font-size: 25px;
font-weight: 600;
font-family: Austin News,georgia,times,serif;
}
.common_main h2{
font-size: 3em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
.editorcss h2{
font-size: 2.5em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
.common_main h2::before{
content: '';
height: 100%;
width: 6px;
}
.read_2{
color: #000;
font-size: 25px;
text-align: center;
}
}
/* スマホSP専用（1）1100px以下 */
@media screen and (max-width: 1100px) {
.Top_image .read_1{
font-size: 3em;
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: center;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
.Top_image .read_2{
font-size: 1.8em;
color: #fff;
font-family: Austin News,georgia,times,serif;
width: 1500px;
text-align: center;
z-index: 1000;
text-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
}
h1{
font-size: 25px;
font-weight: 600;
font-family: Austin News,georgia,times,serif;
}
.editorcss h2::before{
content: '';
height: 100%;
width: 6px;
}
.editorcss h2{
font-size: 2em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
.Read{
font-size: 15px;
padding-top: 1em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.common_main h2{
font-size: 2em;
margin-bottom: 1em;
position: relative;
line-height: 1.8;
padding-left: 15px;
font-family: Austin News,georgia,times,serif;
}
.read_2{
color: #000;
font-size: 0.88em;
text-align: center;
}
}