@charset "UTF-8";

/* 全体で常に使用するスタイル(*) */
:root {
animation-duration: 1s;
animation-delay: 1s;
}
* {
margin: 0;
padding: 0;
max-width: 100%;
}
body{
background-color: #F0F0F0;
}
body *{
box-sizing: border-box;
}
body::after{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: "";
z-index: -100;
background: linear-gradient(#ffffff, #ffffff);
opacity: 0.4;
}
.flex {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
}
.inline{
display: inline-block;
}
.inner{
width: 98%;
max-width: 1000px;
margin: 0 auto 0;
}
.mb_1em {
margin-bottom: 1em;
}
.mb_2em {
margin-bottom: 2em;
}
.mb_3em {
margin-bottom: 3em;
}
header{
position: fixed;
width: 100%;
z-index: 500;
background-color: #F0F0F0;
border-bottom: 0.1px solid #a1a1a1;
box-shadow: 0 0 5px 0 rgba(211, 197, 197, 0.5);
}
.scroll {
opacity: 0;
} 
.fadeInDown {
animation-name: fadeInDown;
animation-duration: 3s;
animation-fill-mode: forwards;
} 
@keyframes fadeInDown{
0% {
opacity: 0;
}
100% {
opacity: 1;
transform: translate(0);
}
} 
.updown {
transform: translateY(-50px);
} 
.fadeLeftSlide {
animation-name: fadeLeftSlide;
animation-duration: 3s;
animation-fill-mode: forwards;
} 
@keyframes fadeLeftSlide{
0% {
opacity: 0;
}
100% {
opacity: 1;
transform: translate(0);
}
} 
.fadeLeftSlide {
transform: translateX(-50px);
} 
.fadeRightSlide {
animation-name: fadeRightSlide;
animation-duration: 3s;
animation-fill-mode: forwards;
} 
@keyframes fadeRightSlide{
0% {
opacity: 0;
}
100% {
opacity: 1;
transform: translate(0);
}
} 
.fadeRightSlide {
transform: translateX(50px); ;
} 
/*  ヘッダーのスタイル（header-inner） */
/* 共通 */
.header_container {
display: flex;
align-items: center;
}
.header-inner {
max-width: 100%;
padding: 30px 30px 30px 0;
display: flex;
justify-content: center;
}

.header-inner a{
text-decoration: none;
color: #000000;
}

.arrow-label {
  position: relative;
  display: inline-block;
  padding: 40px 30px;
  background: #3498db;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border: 10px solid white; /* 外枠1 */
  box-shadow:
    0 0 0 8px #f39c12,     /* 外枠2（オレンジ） */
    0 0 0 12px white;       /* 外枠3（白） */
  clip-path: polygon(
    0% 0%, 85% 0%, 97% 50%, 85% 100%, 0% 100%
  ); /* 矢印形状 */
}

.arrow-label .text {
  position: relative;
  z-index: 1;
}

/* サブメニューのスタイル（nav） */
/* 共通 */
.header_nav{
width: 600px;
text-align: center;
padding: 0 10px 0;
}
.header_list{
display: flex;
justify-content: center;
position: relative;
}
.header_item{
position: relative;
list-style: none;
display: inline-block;
width: 24%;
padding: 5px 10px 0;
transition: background-color .3s;
}
.header_item:hover{
background-color: #f5edd1;
cursor: pointer;
}
/* ホバーで表示 */
.header_item:hover .megaMenu{
display: block;
}
.header_item a {
text-decoration: none;
color: #000;
font-size: 20px;
font-weight: bold;
font-family: Austin News,georgia,times,serif;
display: block;
}
.header_item a .ja {
display: none;
}
.header_item a .en {
font-family: Austin News,georgia,times,serif;
}
.header_item a:hover .en {
display: none;
}
.header_item a:hover .ja {
display: inline;
}
.header_nav ul li ul li{
background-color: #F0F0F0;
height: 40px;
transition: all .5s;
position: relative;
width: 100%;
list-style: none;
}

.megaMenu{
display: none;
position: absolute;
top: 100%;
left: 0;
padding: 30px 0 10px 0;
background-color: rgb(240, 240, 240);
margin: 0 0 0 -30px;
z-index: 10000;
min-width: 200px;
}

.megaMenu a{
white-space: nowrap;
display: block;
text-decoration: none;
overflow: hidden;
color:#000;
font-size: 20px;
font-weight: bold;
font-family: Austin News,georgia,times,serif;
}

.megaMenu_list{
transition: all .3s;
}

.megaMenu_item{
position: relative;
display: block;
}

@keyframes fadeIn{
0%{
opacity: 0;
}
100%{
opacity: 1;
}
}

.opacity{
opacity: 0.4;
}
.city_item_info ul{
list-style: none;
margin-left: 1em;
box-sizing: border-box;
margin-bottom: 3em;
}
.city_box_image{
margin: 10px 20px 20px 10px;
} 
.city_box_image img{
object-fit: cover;
} 
.city_item_info .image_caption h4,h5{
font-size: 50px;
font-weight: bold;
letter-spacing: 2px;

}
.image_caption span:nth-child(1){
font-size: 50px;
margin-right: 0.5em;
}
.image_caption a{
text-decoration: none;
}
.image_caption a h5 .en {
display: inline;
text-decoration: none;
color: #000000;
}
.image_caption a h5 .ja {
display: none;
}
.image_caption a h5:hover .en {
display: none;
text-decoration: none;
}
.image_caption a h5:hover .ja {
display: inline;
text-decoration: none;
color: #000000;
}
#back_top a{
padding: 7px;
color:#C8102E;
transition: 1s;
}
#back_top a:hover{
opacity: 0.75;
}
#back_top .fa-solid{
font-size: 35px;
}
.fa-chevron-up::before{
content: \f077;
}
/* マーカーの色（色相環の回転、青色を頂点として何度回転したかを示す） */
/* 共通 */
.icon-red{
filter: hue-rotate(150deg);
}
.icon-green{
filter: hue-rotate(250deg);
}
.icon-orange{
filter: hue-rotate(100deg);
}

/* 画像をクリックしたときのポップアップ表示 */
/* 共通 */
.flex_images{
float: left;
position: relative;
}
.flex_images >a {
text-decoration: none;
}

.flex_images figcaption img{
position: relative;
}
figcaption >.theme{
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: flex-end;
background-image: -webkit-linear-gradient(bottom rgba(0, 0, 0, 0.8) 0%, transparent 100%);
background-image: -webkit-linear-gradient(90deg, #14b9d5 2%, rgba(239, 208, 60, 0) 40%);
}
figcaption >.theme >p{
color: #fff !important;
display: block !important;
float: left;
text-align: left;
font-weight: 400;
text-shadow: none !important;
font-size: 25px;
font-family: 'Capriola', sans-serif !important;
}
figcaption >.euk_th{
display: inline-block;
padding: 5px 10px;
color: #fff !important;
position: absolute;
top: 38%;
bottom: 0;
left: 0;
right: 0;
text-align: center;
z-index: 1;
border-radius: 2px;
}
.flex_images h4{
font-family: "Austin News", georgia, times, serif;
font-size: 1.5em;
margin-bottom: 0.5em;
color: black;
}
.flex_images p{
font-family: "Austin News", georgia, times, serif;
font-size: 1em;
}
.flex_images h4 .ja{
display: none;
}
.flex_images h4:hover .en{
display: none;
text-decoration: none;
}
.flex_images h4:hover .ja{
display: inline;
text-decoration: none;
}

.uk_item_info_1 {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
}
.uk_item_info_2 {
display: flex;
flex-flow: row-reverse wrap;
justify-content: space-between;
align-items: center;
}
.Top_image{
width: 100%;
height: auto;
margin-bottom: 3em;
}

.Top_image .swiper-slide img{
width: 100%;
height: auto;
position: relative;
overflow: hidden;
display: block;
margin-top: 87px;
}
/* フッター（footer) */
/* 共通 */
footer .footer_upper{
padding: 20px;
background-color: #000;
}
footer .footer_upper > div{
max-width: 1000px;
margin: 0 auto 0;
color: #fff;
}
footer .footer_upper .footer_menu{
width: 200px;
color: #fff;
}
footer .footer_upper .footer_menu h3{
width: 150px;
}
.accordion_body{
width: 150px;
}
.accordion_body ul{
width: 400px;
}
.accordion_body ul li{
list-style: none;
}
.accordion_body ul li a{
color: #fff;
text-decoration: none;
}

footer .footer_copy{
background-color: #534242;
}
.footer_copy{
padding: 33px 0;
}

/* パソコンPC専用 */
@media screen and (min-width: 1100px) {
.pagebody {
width: 100%;
margin: 0 auto;
text-align: left;
}
.pagebody .container{
max-width: 80%;
margin: 0 auto;
}
.container {
width: 95%;
max-width: 1200px;
margin: 0 auto 0;
}
.editorcss h2::before{
content: '';
height: 100%;
width: 6px;
}
.hamburger{
display: none;
position: relative;
}
.globalMenuSp{
display: none;
}
.Read_area{
max-width: 90%;
margin: 0 auto 3em;
padding-top: 1em;
}
.Read{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
text-align: center;
}
.Read_text{
max-width: 80%;
margin: 0 auto 3em;
padding-top: 1em;
}
.Top_image .title{
position: absolute;
top: 64%;
left: 50%;
transform: translate(-50%,-50%);
max-width: 80%;
z-index: 9999;
}
.Top_image .swiper-slide img{
width: 100%;
height: auto;
position: relative;
overflow: hidden;
display: block;
margin-top: 87px;
}
.tops{
width: 33.3%;
}
.city_item_info{
max-width: 100%;
display: flex;
flex-wrap: wrap;
margin: 0 auto 3em;
}
.city_item_info .image_caption{
width: 50%;
position: relative;
margin-bottom: 3em;
overflow: hidden;
}
.image_caption:hover .mouse{
display: inline;
}
.flex_images{
float: left;
position: relative;
width: 49%;
margin-bottom: 30px;
}
#back_top{
position: fixed;
right: 5%;
bottom: 13%;
}
.info_left_item {
width: 40%;
position: relative;
margin-bottom: 1em;
}
.info_right_item {
width: 58%;
margin-bottom: 1em;
}
.copy_light{
font-size: 0.9em;
text-align: center;
}
}

/* スマホSP専用（1）1100px以下 */
@media screen and (max-width: 1099px) {
.header_container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 100%;
}
.header-inner {
max-width: 100%;
margin: 0 3em 0;
display: flex;
justify-content: center;
}
.pagebody {
z-index: 50;
}
body .container  {
padding: 0 60px 5px 40px;
}
.pagebody .container{
max-width: 100%;
margin: 0 auto;
}

.container {
width: 100%;
margin: 0;
}

.tops{
width: 33.3%;
}
.header_nav{
display: none;
}
.hamburger {
display : block;
position: fixed;
right : 20px;
width : 60px;
height: 42px;
cursor: pointer;
text-align: center;
}
.hamburger span {
display : block;
position: absolute;
width   : 50px;
height  : 2px;
background : #0a0a0a;
-webkit-transition: 0.3s ease-in-out;
-moz-transition   : 0.3s ease-in-out;
transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
top: 0px;
}
.hamburger span:nth-child(2) {
top: 20px;
}
.hamburger span:nth-child(3) {
top: 40px;
}
.flex_images{
float: left;
position: relative;
max-width: 48%;
margin-bottom: 30px;
}
/* スマホメニューを開いてる時のボタン */
.hamburger.active span:nth-child(1) {
top : 16px;
left: 0px;
-webkit-transform: rotate(-45deg);
-moz-transform   : rotate(-45deg);
transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
top: 16px;
-webkit-transform: rotate(45deg);
-moz-transform   : rotate(45deg);
transform        : rotate(45deg);
}
.Top_image .title{
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 80%;
z-index: 9999;
}

/* メニュー背景　*/
nav.globalMenuSp {
position: fixed;
z-index : 2;
top: 70px;
right: 0;
width: 80vh;
max-width: 300px;
color: #fff;
background:#F0F0F0;
text-align: center;
transform: translateX(100%);
transition: all 0.6s;
overflow-y: auto;
}

/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
transform: translateX(0%);
}

/* メガメニュー　*/
.megaMenu_list {
margin: 0 auto;
padding: 0;
width: 200px;
}

.megaMenu_item {
list-style-type: none;
padding: 0;
width: 100%;
transition: 0.4s all;
position: relative;
overflow: hidden;
}

.megaMenu_item a,
.megaMenu_item a {
display: block;
padding: 1em 0;
text-decoration :none;
font-size: 20px;
font-weight: bold;
color: #000;
font-family: Austin News,georgia,times,serif;
}

.megaMenu{
display: none;
position: static;
left: 0;
right: auto;
padding: 10px 0;
background-color: #e0e0e0;
margin: 0;
z-index: 10;
width: 100%;
box-sizing: border-box;
}

/* 開いたときに表示されるようにする */
.megaMenu_item.open .megaMenu {
display: block !important;
}

.megaMenu_item:last-child {
padding-bottom: 0;
}
.megaMenu_item:hover{
background :#ddd;
}

.common_main h2::before{
content: '';
height: 100%;
width: 6px;
}

.city_item_info{
width: 90%;
margin: 0 auto 3em;
display: flex;
flex-wrap: wrap;
}
.city_item_info .image_caption{
width: 50%;
position: relative;
margin-bottom: 2em;
overflow: hidden;
}
.city_item_info .image_caption h4,h5{
font-size: 50px;
font-weight: bold;
letter-spacing: 2px;
}
#back_top{
position: fixed;
right: 10px;
bottom: 100px;
}
.info_left_item {
width: 90%;
margin: 0 auto 25px;
position: relative;
}
.info_right_item {
width: 90%;
margin: 0 auto 25px;
}
.Read_text{
max-width: 80%;
margin: 0 auto 3em;
padding-top: 1em;
}
.copy_light{
font-size: 8px;
text-align: center;
}
}

/* スマホsp専用（2） 768px以下 */
@media screen and (max-width: 768px) {
#Sp_navigation ul li{
width: 50%;
}
#Sp_navigation ul li:nth-of-type(2n){
border-right: 0;
}
nav.globalMenuSp {
display: none;
}

.megaMenu {
position: static;
width: 100%;
}
}
