.popup_wrapper {
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  border: 2.5px solid #00bcd4;
}

.popup_wrapper .leaflet-popup-content {
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px;
}

.popup_summer {
  background: transparent;
  border-radius: 14px;
  padding: 10px;
  color: #006994;
  animation: fadeIn 0.4s ease-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.popup_caption {
  margin-bottom: 0.5em;
}
.popup_img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
a.popup_link  {
 text-decoration: none;
  color: #0077b6;
  font-weight: bold;
  font-family: Austin News,georgia,times,serif;
  margin-bottom: 0.3em!important;
  display: block;
}


.popup_link:hover {
  color: #023e8a;
  cursor: pointer;
}

.leaflet-popup-content {
  width: 280px!important;
	margin: 18px;
	line-height: 1.3;
	font-size: 13px;
	font-size: 1.08333em;
	min-height: 1px;
	}

.leaflet-popup-content p {
font-size: 0.9em;
margin: 0!important;
color: #000000;
}

.popup_section {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-in-out;
}

.next_card {
  background-color: #3c3b3b;  /* 背景色 */
  border: 1px solid #e0e0e0; /* 境界線 */
  border-radius: 8px;         /* 角を丸める */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 影をつける */
  padding: 5px;
  width: 150px; /* カードの幅 */
  box-sizing: border-box; /* 境界線の幅をwidthに含める */
  margin-bottom: 10px;
}

.next_card a {
  text-decoration: none;
  font-size: 1em;
  color: #ffffff!important;
  font-weight: bold;
  text-align: center;
}

.next_card:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

#infoSection {
  margin-bottom: 5px; /* 必要に応じて数値を調整してください */
}


.next_text {
  font-size: 1em;
  color: #ffffff!important;
  font-weight: bold;
  margin-bottom: 0!important;
}