.photo_container{
display: flex;
flex-wrap: wrap;
margin-bottom: 4em;
}


.item >img{
vertical-align: top;
border: 1px #fff;
}
.photo_container img{
border: 3px solid #fff;
object-fit: cover;
}

.item-img{
width: 100%; 
height: 100%; 
object-fit: cover; 
max-width: 800px;
border-radius: 4px;
}


/* パソコンPC専用 */
@media screen and (min-width: 1101px){
.photo_wrap{
display: grid;
grid-template-columns: repeat(2, 2fr);
grid-auto-flow: row dense;
}

@for $i from 1 through 12 {
    @for $j from 1 through 2 {
      .item-c#{$i}r#{$j} {
        grid-column-end: span $i; grid-row-end: span $j;
      }
    }
  }
}
/* スマホSP専用 1100px以下 */
  @media screen and (max-width: 1100px){
.photo_wrap{
display: grid;
grid-template-columns: repeat(2, 2fr);
grid-auto-flow: row dense;
}
    @for $i from 1 through 12 {
      @for $j from 1 through 2 {
        .item-c#{$i}r#{$j}-md {
          grid-column-end: span $i; grid-row-end: span $j;
        }
      }
    }
  }


.color_palette{
background-color:#333333;
color:#333333;
border-color:#333333;
}
.solid_icon{
position:absolute;
background-color:none;
color:none;
}
.solid_icon > i{
position:absolute;
top:-0.5em;
left:-0.5em;
}